*{
  margin: 0;
  padding: 0;

}


.post {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #1d1b1b;
  
}

.body {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  gap: 10px;

}

h2 {
  color: #cebbbe;
  font-size: 16px;
  margin: 0;
}

.mensagem {
  font-size: 14px;
  color: #eee2e2;
  
}
.imgpost{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;  
  height: 100vh;  
}

